html, body {
    background-color: #111111;
    color: rgba(255, 255, 255, .97);
    font-family: Roboto, sans-serif;
    
    overflow: hidden;
    
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body > canvas {
    position: absolute;
    top: 0;
    left: 0;

    image-rendering: pixelated;
}

#settings {
    position: absolute;
    top: 10px;
    left: 10px;

    background-color: rgba(0, 0, 0, .4);
    border: 3px solid rgba(50, 50, 50, .4);

    padding: 10px;

    user-select: none;

    font-size: 1vw;

    z-index: 5;
}

input {
    position: relative;
    top: 4px;
    margin-left: 10px;
}

#debug {
    margin-bottom: 10px;
    font-family: monospace;
    white-space: pre;

    font-size: 1vw;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;

    text-align: center;

    padding: 10px;

    font-size: 2.5vw;

    background-color: rgba(0, 0, 0, .4);
    border: 3px solid rgba(50, 50, 50, .4);

    transform: translate(-50%, -50%);

    z-index: 10;
}

#loading.hide {
    display: none;
}